<%= form_for @user, :url => email_confirmation_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
     </ul>
    </div>
  <% end %>
    <div class="inner-container">
      <div class="span1">
        <div class="actions">
          <p>
            <%= f.submit "Confirm Email", class: "btn btn-large btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
