<p>
  <strong>Number of Related Burials:</strong>
  <%= @monument.num_indiv %><br/>
  <strong>Memorial Date:</strong>
  <%= @monument.mem_date %><br/>
  <strong>Memorial Inscription:</strong>
  <p style='text-align: center;'>
    <%= @monument.insc_transc %>
  </p>  
</p>
