<table class="table table-bordered table-hover">
  <tbody>
    <td>
      <strong>Cemetery</strong>
    </td>
    <td>
      <strong>County</strong>
    </td>
    <td>
      <strong>Number of Burials</strong>
    </td>
    <!-- NEED OT FIND A WAY TO MAKE ROW CLIACKABLE -->
    <% @monuments.each do |m| %>
    <tr>
      <td>
	<%= link_to m.cemetery.cem_name, monument_path(:id => m.id_mon_level) %>
      </td>
      <td>
	<%= link_to m.county.name, monument_path(:id => m.id_mon_level) %>
      </td>
      <td>
	<%= link_to m.num_indiv, monument_path(:id => m.id_mon_level) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

