<!-- table encompassing serach results -->
<table class="table table-bordered table-hover">
  <tbody>
    <!-- NEED OT FIND A WAY TO MAKE ROW CLIACKABLE -->
    <% @burials.each do |b| %>
    <tr>
      <td>
	<%= link_to 'Link',burial_path(:id => b.id_indiv_lev), :class => 'row-link' %>
      </td>
      <td>
	<strong>Last Name:</strong>
	<%= b.last_name %>
      </td>
      <td>
	<strong>First Name</strong>
	<%= b.first_name %>
      </td>
      <td>
	<strong>Cemetery:</strong>
	<%= Cemetery.find(b.cem_lev_id).cem_name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
