<div class="rounded-div">
   <p>
     <strong>First Name</strong>
     <%= @burials.first_name %>
   </p>

   <p>
     <strong>Last Name:</strong>
     <%= @burials.last_name %>
   </p>

   <p>
     <strong>Cemetery ID</strong>
     <%= @burials.cem_lev_id %>
   </p>

</div>
<br>
