<% if flash[:notice] %>
<div class="panel panel-daner">
  <div class="alert alert-danger">
    <%= flash[:notice] %>
<!--    <%# if @burial.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
	The form contains <%# pluralize(@burial.errors.count, "error") %>.
      </div>
      <ul>
	<%# @burial.errors.full_messages.each do |msg| %>
	<li>* <%# msg %></li>
	<%# end %>
      </ul>
    </div>
    <%# end %>-->
  </div>
</div>
<% end %>
