<div class="inner-container">
  <!-- tabbed header for different submit forms on the submit page -->
  <div id="submit_tab">
    <ul class="nav nav-tabs">
      <li class="active">
	<%= link_to 'Burial Info', 'burials/submit', :data => {:toggle => 'tab'}, :remote => true %>
      </li>
      <li>
	<%= link_to 'Cemetery Info', 'cemeteries/submit', :data => {:toggle => 'tab'}, :remote => true %>
      </li>
    </ul>
  </div>
  <!-- load default individual form on load  using JS and AJAX -->
  <div class="row">
    <div id="submit_container" class="main-border">

    </div>
  </div>

</div>
