<!-- === HEADERS === -->
<div id="title_bar">
</div>


<h1>No Results returned!</h1>
<h3>Please return to the previous page</h3>

<!-- link back to index page -->
<%= link_to 'Back', search_cemeteries_path %>


