<table class="table table-bordered table-hover">
  <tbody>
    <% @cemetery.monuments.each do |m| %>
    <tr class="row-clickable" href=<%= monument_path(:id => m.id_mon_level) %>>
      <td>
	<% m.burials.each do |b| %>
	   <%= b.last_name %>,<%= b.first_name %><br/>
	<% end %>
      </td>
      <td>
	<%= m.mem_date %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
