<!-- table encompassing search results -->
<table class="table table-bordered table-hover">
  <tbody>
    <td>
      <strong>Cemetery</strong>
    </td>
    <td>
      <strong>County</strong>
    </td>
    <% @cemeteries.each do |c| %>
    <tr class="row-clickable" href=<%= cemetery_path(:id => c.id_cem_lev) %>>
      <td>
	<%= c.cem_name %>
      </td>
      <td>
	<%= c.county.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
