<!-- table encompassing search results -->
<table class="table table-bordered table-hover">
  <tbody>
    <td>
      <strong>Cemetery</strong>
    </td>
    <td>
      <strong>County</strong>
    </td>
    <!-- NEED OT FIND A WAY TO MAKE ROW CLICKABLE -->
    <% @cemeteries.each do |c| %>
    <tr>
      <td>
	<%= link_to c.cem_name,cemetery_path(:id => c.id_cem_lev) %>
      </td>
      <td>
	<%= link_to c.county.name,cemetery_path(:id => c.id_cem_lev) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
