<h2>Submit Cemetery Data</h2>
<%= form_for :cemetery, url: cemeteries_path do |c| %>
  <p>
    <%= c.label "Cemetery Name" %><br>
    <%= c.text_field :cem_name %>
  </p>

  <p>
    <%= c.submit %>
  </p>

<% end %>
