  <div id="page_main">
    <!-- render specified view given from loaded action -->
    <%= render view %>
  <!--== end of page_main ==-->
  </div>

<!--- added Jquery scripts (for testing) -->
<!--<script>
  $("rounded-div").click(function(){
        window.location=$(this).find("a").attr("href");
        return false;
  });
</script>
-->
