/* definitions that override some properties of bootstraps css*/

.container, .inner-container{
    min-height: 100%;
    overflow: hidden;
}

.container{
    /*height: 100%;*/
    width: 100%;
}

.inner-container{
    width: 80%;
    padding: 1em;
    margin: 10px auto;
    border: 1px solid #E5E5E5;
}


.row, .row-fluid, .navbar{
    margin: auto;
}

/* reset left padding for radio buttons */
.radio{
    padding-left: 5px;
    padding-right: 10px;
}
/* set margins for search page */
.span7{
    margin-left: 0;
    margin-right: 6.38298%;
    /* normal x 3 */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color: rgba(65,140,200,1);
    color: white;
}

.dropdown{
    z-index: 1000;
}

.container-fluid{
    padding-right: 10px;
    padding-left: 10px;    
}