/* page setup */

* { margin: 0; }

html, body {
    margin: 0 auto;
    padding: 0 auto;
    min-height: 100%;
    overfow: hidden;
    text-align: left;
}

/* used for expandable containers that must be the size 
   of their children */
span{
    display: inline-block;
}

#page_wrapper{
    width: 100%;
    min-height: 100%;
    height: 100%;
    overfow: hidden;
    position: relative;
}

#page_main{
    width: 100%;
    height: 100%;
    min-height: 940px; /* hardcoded height */
    overflow: hidden;
    text-align: left;
    position: relative;
    /* padding-botom: 300px; */
}

/*** NOTE: boostrap distorts some Google Maps Overlays, to fix added this css ***/
/* Source: http://github.com/twbs/boostrap/issues/1552 */
#map label{ 
    width: auto;
    display: inline;
}
#map img{
    max-width: none;
}

/*** FULL SCREEN OVERIVEW MAP ***/
#overview_map{
    width: 100%;
    min-height: 100%;
    over-flow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#search_sidebar{
    /* 100 - width of map container - gap from page main */
    width: 24%;
    position: absolute;
    z-index: 2;
    left: 73%;
    top: 7%;
    background: rgba(120,120,120,0.834);
}

/* container that contains description of Cemetery */
#cem_header{
    float: left;
    width: 100%;
    background: rgba(241,241,241,1);
}

/* container to encompass the layout map and the cemetery info */
#cem_container{
    /* 100 - width of side bar - gap from page_main */
    width: 64%;
}

/* container for cemetery information on layout page */
#cem_info{
    float: left;
    width: 97%;
}

/* container to encompass the indivduals pictures and the info */
#indiv_container{
    /* 100 - width of side bar - gap from page_main */
    width: 74%;
    min-height: 574px;
    border: 1px solid black;
}

/* container for individual information on layout page */
#indiv_info{
    float: left;
    /* width of indiv_container - 12 (account for margins) */
    width: 62%;
    min-height: 230px;
    max-height: 270px;
    margin-left: 10px;
}


/* container containing information for a specific monument */
#mon_info{
    float: left;
    width: 95%;
    margin: 10px 0 10px 10px;
}


/* container used for search page */
#search_container{
    border: 1px solid #E5E5E5;
    padding: 10px;
}


/* sticky footer */
#footer{
    bottom: 0; /*** Ensures footer at bottom of container ***/
    position: relative;
    width: 100%;
    height: 300px; /* height of footer */
    background: rgba(38, 36, 36, 0.834);
    clear: both;
}

/* =========== CLASSES ============ */

/* class expanded content to be 100% */
.fill{
    min-height: 940px; /* hardcoded for map */
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* common attributes among the different map containers*/
.map{
    position: relative;
    border: 1px solid black;
}

/* common attributes among the differen sidebars */
.sidebar{
    text-align: left;
    padding-left: 10px;
}

/* used for common atrributes of 2 column layout */
.two-col-common{
    float: left;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* class used with div to create counded cornered containers */
.rounded-div{
    -moz-box-border-radius: 10px;
    -webkit-box-border-radius: 10px;
    border: 1px solid rgba(220,220,220,1);
    border-radius: 10px;
    padding: 0 10px;
    /*float: left; /* causes widht to be that of its contents */
    background: rgba(247,247,247,1);
    position: relative; /* to make it clickable */
}

.div-clickable{
    position: absolute;
    z-index: 5;
    display: block;
    top: 0; /* make div stick to top left, essential */
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


/* ========== IMAGE CLASSES ========== */

/* container that will hold the main image and possibly a small
   image gallery with thumbnails */
.indiv_imgs{
    width: 280px;
    margin-left: 10px;
}
/* main image used for individual burial pages */
/* ---------- aspect ratio 5x7 ----------- */
.img-main{
    /* same width as indiv_imgs container */
    width: 380px;
    height: 532px;
    margin-bottom: 10px;
    opacity: 1;
    filter:alpha(opacity)=100; /* for IE 6 and earlier */
}

.img-main:hover{
    opacity: 0.5;
    filter:alpha(opacity)=50; /* for IE 6 and earlier */
}

/* thumbnail gallery used for individual burial pages */
.img-thumbs{
    /* same width as img-main */
    width: 280px;
    /* same as individual thumbnail size */
    height: 80px;
    float: left;
    /* allows to horizontally scroll it */
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    opacity: 1;
    filter:alpha(opacity)=100; /* for IE 6 and earlier */
}

/* thumbnail used for individual burial pages */
/* ----------- 80x80px per thumb ---------- */
.img-thumb{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
.img-thumb:hover{
    opacity: 0.5;
    filter:alpha(opacity)=50; /* for IE 6 and earlier */
}

/* general thin border used for accordions */
.accordion-border{
    border: 1px solid #e5e5e5;
    -moz-box-border-radius: 4px;
    -webkit-box-border-radius: 4px;
    border-radius: 4px;
}

/* for clickable rows within results table */
.row-clickable{
    cursor: pointer;
}

/* adds thin border around divs */
.main-border{
    border: 1px solid #E5E5E5;
}


/* ========== SPAN ID CONTAINERS ========== */
#burial-list, #monument-list, #inscription{
    height: 250px;
    padding-bottom: 5px;
}
#monument-list{
    margin-left: 20px;
}
.burial-list-contents, .mon-list-contents{
    height: 75%;
    overflow-y: scroll;
}
#right-info-container{
    width: 53.9362%;
}
#list-container{
    width: 100%;
    margin: 0;
    margin-top: 20px;
}
.list-contents{
    width: 46.5%;
    float: left;
}
#advanced-container, #cem-container{
    margin-top: 20px;
    margin-left: 0;
}
#advanced-container{
    width: 96.4894%;
}
#cem-container{
    width: 100%;
}