<div id="footer">
  <%= render 'layouts/source_links' %>

  <%= render 'layouts/contact' %>

  <%= render 'layouts/signup_prompt' %>
  
  <%= render 'layouts/updates' %>
  
</div>
<div id="tm_container">
</div>
