<div id="footer">
  <%= render 'layouts/source_links' %>

  <%= render 'layouts/about' %>

  <%= render 'layouts/contact' %>
  
  <%= render 'layouts/updates' %>
  
</div>
<div id="tm_container">
</div>
